<ul class="dropdown-menu" id="editbar">
    <% e.begin_block("dd_dropdownMenu"); %>
    <li>
        <a href="#">File</a>
        <ul>
            <li>
               <% e.begin_block("dd_file"); %>
               <li><a href="#" data-key="save" id="revisionlink"><u>S</u>ave</a></li>
               <li><a href="#" id="importexportlink" data-key="import_export" class="acl-write">Import</a></li>
               <li><a href="#" data-key="export">Export</a>
                 <ul class="submenu">
                    <li><a href="#" id="exportplaina">Text</a></li>
                    <li><a href="#" id="exporthtmla">HTML</a></li>
                 </ul>
               </li>
               <hr></hr>
               <li onclick="document.location = document.location.pathname+ '/timeslider'"><a href="#" id="timesliderlink">Timeslider</a></li>
               <hr></hr>
               <li><a href="#" data-key="settings">Pad Settings</a></li>
               <li><a href="#" data-key="print" onClick="window.print()">Print</a></li>
               <li><a href="#" data-key="embed" id="embedlink">Share & Embed</a></li>
               <% e.end_block(); %>
            </li>
        </ul>
    </li>
    <li class="acl-write">
        <a href="#">Edit</a>
        <ul>
            <li>
               <% e.begin_block("dd_edit"); %>
               <li><a href="#" data-key="undo">Undo</a></li>
               <li><a href="#" data-key="redo">Redo</a></li>
               <% e.end_block(); %>
            </li>
        </ul>
     <li>
     <li class="acl-write">
        <a href="#">Format</a>
        <ul>
            <li>
               <% e.begin_block("dd_format"); %>
               <li><a href="#" data-key="bold"><u>B</u>old</a></li>
               <li><a href="#" data-key="italic"><u>I</u>talic</a></li>
               <li><a href="#" data-key="underline"><u>U</u>nderline</a></li>
               <li><a href="#" data-key="Strikethrough">Strikethrough</a></li>
               <hr></hr>
               <li><a href="#" data-key="insertorderedlist">Ordered List</a></li>
               <li><a href="#" data-key="insertunorderedlist">Unordered list</a></li>
               <li><a href="#" data-key="indent">Indent</a></li>
               <li><a href="#" data-key="outdent">Outdent</a></li>
               <hr></hr>
               <li><a href="#" data-key="clearauthorship">Clear Authorship Colors</a></li>
               <% e.end_block(); %>

            </li>
        </ul>
   </li>


    <li class="acl-write">
       <a href="#">Insert</a>
       <ul>
         <li>
           <% e.begin_block("dd_insert"); %>
           <% e.end_block(); %>
          </li>
       </ul>
    </li>


   <li>
        <a href="#">View</a>
        <ul>
            <li>
               <% e.begin_block("dd_view"); %>
               <li><a href="#" onClick="$('#options-colorscheck').click();">Authorship colors</a></li>
               <li><a href="#" onClick="$('#options-linenoscheck').click();">Line Numbers</a></li>
               <li><a href="#" onClick="chat.stickToScreen();">Chat Always Visible</a></li>
               <li><a href="#" onClick="$('#timesliderlink').click();">Timeslider</a></li>
               <li><a href="#" onClick="$('#options-rtlcheck').click();">Text Right to Left</a></li>
               <% e.end_block(); %>
            </li>
        </ul>

    </li>
   <li>
        <a href="#">Help</a>
        <ul>
            <li>
               <% e.begin_block("dd_help"); %>
               <li><a href="http://mclear.co.uk" target="_blank">File Menu Toolbar plugin by John McLear</a></li>
               <% e.end_block(); %>
            </li>
        </ul>

    </li>
    <% e.end_block(); %>
</ul>

<style type="text/css">
#editorcontainerbox{
  top:23px;
}
.stickyChat{
  top:61px;
}
.dropdown-menu-sub-indicator > ul {
  border:1px solid rgb(204, 204, 204);
  border-radius:0px 0px 6px 6px;
  box-shadow: 0px 2px 4px rgb(221, 221, 221);
  background:linear-gradient(rgb(247, 247, 247), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
  padding:10px;
}
.submenu{
  margin:0px 0px 10px 0px;
  padding: 0px 10px 0px 5px !important;
  border-radius:0px 6px 6px 0px !important;
}
.dropdown-menu-sub-indicator > ul > hr{
  margin:10px 0px 10px 0px;
}
@media all and (max-width: 400px){
  .dropdown-menu{
    display:none;
  } 
  #editorcontainerbox{
    top:0;
  }
}

#settings, #importexport, #embed, #connectivity, #users {
  top:59px;
}
</style>

<script src="../static/js/jquery.js"></script>
