<ul class="dropdown-menu" id=editbar>
    <li>
        <a href="#">File</a>
        <ul>
            <li>
               <li><a href="#"data-key="save">Save</a></li>
               <li><a href="#"data-key="bold">Import</a></li>
               <li><a href="#"data-key="italic">Export</a></li>
               <hr></hr>
               <li><a href="#"data-key="timeslider">Timeslider</a></li>
               <li><a href="#"data-key="showchat">Show Chat</a></li>
               <hr></hr>
               <li><a href="#"data-key="settings">Pad Settings</a></li>
               <li><a href="#"data-key="underline">Share & Embed</a></li>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Edit</a>
        <ul>
            <li>
               <li><a href="#"data-key="undo">Undo</a></li>
               <li><a href="#"data-key="redo">Redo</a></li>
                <a href="#">Submenu Item</a>
                <ul>
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                </ul>
            </li>
        </ul>
     <li>
     <li>
        <a href="#">Format</a>
        <ul>
            <li>
               <li><a href="#"data-key="bold">Bold</a></li>
               <li><a href="#"data-key="italic">Italic</a></li>
               <li><a href="#"data-key="underline">Underline</a></li>
               <li><a href="#"data-key="Strikethrough">Strikethrough</a></li>
               <hr></hr>
               <li><a href="#"data-key="insertorderedlist">Ordered List</a></li>
               <li><a href="#"data-key="insertunorderedlist">Unordered list</a></li>
               <li><a href="#"data-key="indent">Indent</a></li>
               <li><a href="#"data-key="outdent">Outdent</a></li>
               <hr></hr>
               <li><a href="#"data-key="clearauthorship">Clear Authorship Colors</a></li>


                <a href="#">Submenu Item</a>
                <ul>
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                </ul>
            </li>
        </ul>

    </li>

   <li>
        <a href="#">View</a>
        <ul>
            <li>
               <li><a href="#"data-key="bold">Chat</a></li>
               <li><a href="#"data-key="italic">Italic</a></li>
               <li><a href="#"data-key="underline">Underline</a></li>
               <li><a href="#"data-key="Strikethrough">Strikethrough</a></li>
               <hr></hr>
               <li><a href="#"data-key="clearauthorship">Clear Authorship Colors</a></li>
            </li>
        </ul>

    </li>


</ul>

<style type="text/css">
#editorcontainerbox{
  top:23px;
}
</style>

<script src="../static/js/jquery.js"></script>
