<ul class="dropdown-menu" id=editbar>
    <li>
        <a href="#">File</a>
        <ul>
            <li>
               <li><a href="#" data-key="save" id="revisionlink"><u>S</u>ave</a></li>
               <li><a href="#" id="importexportlink" data-key="import_export">Import</a></li>
               <li><a href="#" data-key="export">Export</a>
                 <ul>
                    <li><a href="#" id="exportplain">Text</a></li>
                    <li><a href="#" id="exporthtmla">HTML</a></li>
                 </ul>
               </li>
               <hr></hr>
               <li onclick="document.location = document.location.pathname+ '/timeslider'"><a href="#" id="timesliderlink">Timeslider</a></li>
               <hr></hr>
               <li><a href="#" data-key="settings">Pad Settings</a></li>
               <li><a href="#" data-key="embed" id="embedlink">Share & Embed</a></li>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Edit</a>
        <ul>
            <li>
               <li><a href="#" data-key="undo">Undo</a></li>
               <li><a href="#" data-key="redo">Redo</a></li>
            </li>
        </ul>
     <li>
     <li>
        <a href="#">Format</a>
        <ul>
            <li>
               <li><a href="#" data-key="bold"><u>B</u>old</a></li>
               <li><a href="#" data-key="italic"><u>I</u>talic</a></li>
               <li><a href="#" data-key="underline"><u>U</u>nderline</a></li>
               <li><a href="#" data-key="Strikethrough">Strikethrough</a></li>
               <hr></hr>
               <li><a href="#" data-key="insertorderedlist">Ordered List</a></li>
               <li><a href="#" data-key="insertunorderedlist">Unordered list</a></li>
               <li><a href="#" data-key="indent">Indent</a></li>
               <li><a href="#" data-key="outdent">Outdent</a></li>
               <hr></hr>
               <li><a href="#" data-key="clearauthorship">Clear Authorship Colors</a></li>
            </li>
        </ul>

    </li>

   <li>
        <a href="#">View</a>
        <ul>
            <li>
               <li><a href="#" onClick="chat.stickToScreen();">Chat</a></li>
            </li>
        </ul>

    </li>
   <li>
        <a href="#">Help</a>
        <ul>
            <li>
               <li>File Menu Toolbar plugin by John McLear</li>
            </li>
        </ul>

    </li>


</ul>

<style type="text/css">
#editorcontainerbox{
  top:23px;
}
.stickyChat{
  top:61px;
}
.dropdown-menu-sub-indicator > ul {
  border:1px solid rgb(204, 204, 204);
  border-radius:0px 0px 6px 6px;
  box-shadow: 0px 2px 4px rgb(221, 221, 221);
  background:linear-gradient(rgb(247, 247, 247), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
  padding:10px;
}
.dropdown-menu-sub-indicator > ul > hr{
  margin:10px 0px 10px 0px;
}
@media all and (max-width: 400px){
  .dropdown-menu{
    display:none;
  } 
  #editorcontainerbox{
    top:0;
  }
}
</style>

<script src="../static/js/jquery.js"></script>
